.container-slider {
  height: 778px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu {
  position: relative;
  max-width: 882px;
  height: 262px;
  overflow: hidden;
}

.menu .btn-outline-dark {
  width: 190px;
  height: 190px;
  background-color: white;
  border-color: black;
  border-width: 2px;
  font-size: 24px;
}

.menu .btn-outline-dark:hover {
  color: black;
  background-color: white;
}

.menu button {
  margin-left: 30px;
  margin-right: 30px;
}

.swiper-button-prev {
  color: white !important;
  background-color: black !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 100%;
  --swiper-navigation-size: 20px;
}

.swiper-button-next {
  color: white !important;
  background-color: black !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 100%;
  --swiper-navigation-size: 20px;
}

.swiper-pagination-bullet {
  background: white !important;
  border-color: black !important;
  border-style: solid;
  border-width: 1px !important;
}
.swiper-pagination-bullet-active {
  background: black !important;
}

.container-slider p {
  font-weight: 400;
  font-size: 16px;
  padding-top: 50px;
}
